.Rhistory
*.html
*.sbatch
BARBI_applications/*.html
BARBI_applications/Results/
BARBI_applications/Figures/
BARBI_Bayes_sample_depth_dis/
BARBI_decontam_data/
BARBI_manuscript_hf/
BARBI_manuscript_SIRS/
BARBI_mock_based_on_comparison_paper/
BARBI_old/
BARBI_Rcodes_temp/
BARBI_Rcpp/
BARBI_updated/
LDA/
LDA_Revision/Results/
MyNotes_BARBI/
NMF/
Result_Report_for_Metagenomic_Data_from_Serial_dilutions_of_Zymo_Mock_Community/
Zymo_Analysis/
Zymo_Dada2_pipeline/*.html
