BARBI_mock_based_on_comparison_paper/*.html
BARBI_mock_based_on_comparison_paper/*.sbatch
BARBI_mock_based_on_comparison_paper/Data/
BARBI_mock_based_on_comparison_paper/Results/
Result_Report_for_Metagenomic_Data_from_Serial_dilutions_of_Zymo_Mock_Community/
Zymo_Analysis/BARBI_Zymo_Dada2/Data/
Zymo_Analysis/BARBI_Zymo_Dada2/Figures/
Zymo_Analysis/BARBI_Zymo_Dada2/Results/
Zymo_Analysis/BARBI_Zymo_Dada2/*.html
Zymo_Analysis/BARBI_Zymo_Uclust/Data/
Zymo_Analysis/BARBI_Zymo_Uclust/Results/
Zymo_Analysis/BARBI_Zymo_Uclust/*html
Zymo_Analysis/Zymo_Dada2_pipeline/Data/
Zymo_Analysis/Zymo_Dada2_pipeline/Figures/
Zymo_Analysis/Zymo_Dada2_pipeline/RawSeq/
Zymo_Analysis/Zymo_Dada2_pipeline/*.html
Zymo_Analysis/Zymo_Dada2_pipeline/*.sbatch
