.Rhistory
BARBI_manuscript_SIRS/.Rhistory
BARBI_manuscript_hf/.Rhistory
BARBI_decontam_data/
LDA/*.html
LDA/*.zip
LDA/Data/
LDA/LDA_Gibbs/
LDA/LDA_VB_block_wise/Results/
LDA/LDA_VB_block_wise/Data/
LDA/LDA_VB_block_wise/*.html
LDA/LDA_VB_each_sample/
LDA/LDA_VB_no_block_wise/*html
LDA/LDA_VB_no_block_wise/Results/
LDA/LDA_workflow/
LDA/STAN_exercise/
BARBI_manuscript_hf/Data/
BARBI_manuscript_hf/Figures/
BARBI_manuscript_hf/Results/
BARBI_manuscript_hf/*.html
BARBI_manuscript_hf/*.sbatch
BARBI_manuscript_SIRS/Figures/
BARBI_manuscript_SIRS/Data/
BARBI_manuscript_SIRS/Results/
BARBI_manuscript_SIRS/*.html
BARBI_manuscript_SIRS/*.sbatch
BARBI_mock_based_on_comparison_paper/
BARBI_old/
BARBI_Rcodes_temp/
BARBI_Rcpp/
BARBI_updated/
MyNotes/
Result_Report_for_Metagenomic_Data_from_Serial_dilutions_of_Zymo_Mock_Community/
Zymo_Analysis/BARBI_Zymo_Dada2/Data/
Zymo_Analysis/BARBI_Zymo_Dada2/Figures/
Zymo_Analysis/BARBI_Zymo_Dada2/Results/
Zymo_Analysis/BARBI_Zymo_Dada2/*.html
Zymo_Analysis/BARBI_Zymo_Dada2/.Rhistory
Zymo_Analysis/BARBI_Zymo_Uclust/
Zymo_Analysis/Zymo_Dada2_pipeline/Data/
Zymo_Analysis/Zymo_Dada2_pipeline/Figures/
Zymo_Analysis/Zymo_Dada2_pipeline/RawSeq/
Zymo_Analysis/Zymo_Dada2_pipeline/*.html
Zymo_Analysis/Zymo_Dada2_pipeline/*.sbatch
Zymo_Analysis/Zymo_Dada2_pipeline/.Rhistory
